
/* Apply "Jua" font to all text for a rounded look */
* {
  font-family: 'Jua', sans-serif;
}

/* Set the entire background to orange */
body, html {
  background-color: #ffffff; /* Bright orange background */
  color: #000000;
  height: 100%;
  margin: 0;
}

header {
  background-color: #FF6F00; /* Match orange background */
  padding: 20px 0;
}

/* White Rounded Box for Title */
.title-box {
  background-color: white;
  border-radius: 15px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: relative;

}
.page-title {
  margin: 0;
  color: #FF6F00;
  font-size: 2rem;
  font-family: 'Jua', sans-serif;
  color: white;
}
#logoutButton {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.title-box h1 {
  margin: 0;
  color: #FF6F00;
  font-size: 2rem;
  font-family: 'Jua', sans-serif; /* Rounded font */
}

.emoji {
  font-size: 2rem; /* Larger size for carrot emoji */
}
.favorite-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  border: 1px solid #cf3a3a; /* 회색 테두리 */
  border-radius: 25px; /* 둥근 테두리 */
  background-color: #824545; /* 회색 배경 */
  color: #FFFFFF; /* 하얀색 글씨 */
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px; /* 구매하기 버튼과의 간격 조정 */
}

.favorite-box:hover {
  background-color: #C0C0C0; /* 호버 시 약간 어두운 회색 */
}
.favorite-icon {
  cursor: pointer;
  color: gray;
}

.favorite-icon.favorite-active {
  color: red; /* 찜하기 상태일 때 색상 */
}



/* Orange border for Sell and My Page buttons */
.btn-outline-warning {
  border-color: #FF6F00;
  color: #FF6F00;
}

.btn-outline-warning:hover {
  background-color: #ffffff;
  color: #FF6F00;
}

.my-page-buttons {
  display: flex;
  justify-content: space-between;
}
.button-row {
  display: flex;
  gap: 10px;
}
#productDetail .btn {
  margin-top: 10px;
}
